<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Edit Your Profile</h1>
    <p class="text-center">Architects designate what matrix is. Edit out your profile to become more visible!</p>
    <div class="well">
      <%= render 'form' %>
    </div>
  </div>
</div>
