<div class="row">
  <div class="col-md-3 text-center">
    <%= image_tag @architect.architect_profile.architect_avatar.url(:medium), class: 'architect-show-avatar' %>
  </div>
  <div class="col-md-offset-1 col-md-6">
    <h1><%= @architect.architect_profile.architect_name %></h1>
    <h3><%= @architect.architect_profile.architect_work %></h3>
    <div class="well profile-block profile-description">
      <h3>Bio</h3>
      <%= @architect.architect_profile.architect_bio %>
    </div>
  </div>
</div>
